$red: #ff0000;
$grey: #95989A;
$lightblue: #a7d6ff;
$blue: #2699FB;
$darkblue: #007FEB;

.main-game {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    position: relative;
}

.game {
    width: 100%;
    max-width: 1366px;
    height: 85vh;
    border: 1px solid grey;
    
    display: flex;
    
    &__main {
        position: relative;
        overflow: hidden;
        cursor: none;
        flex: 3;
        outline: 1px solid red;

        padding: 25px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);

        &--cursor {
            cursor: default;
        }
    }

    &__ui {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    &__score {
        font-size: 4em;
        color: $blue;
    }

    &__btn-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__item {
            margin: 20px;
            
            & h4 {
                text-align: center;
                margin-bottom: 10px;
            }
        }
    }

    &__btn {
        background-color: white;
        border: 2px solid $blue;
        border-right: none;
        color: $blue;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 15px;
        cursor: pointer;
        float: left;

        &:hover {
            background-color: $lightblue;
        }

        &__brown,
        &__purple {
            width: 12px;
            height: 18px;
            background-color: burlywood;
            outline: 1px solid white;
        }

        &__purple {
            background-color: rgb(185, 19, 185);
        }

        &:last-child {
            border-right: 2px solid $blue;
        }
        
        &--current,
        &--new-game {
            background-color: $blue;
            color: white;

            &:hover {
                background-color: $darkblue;
                color: white;
            }
        }



        &--new-game {
            width: 150px;
            font-size: 20px;
            font-weight: 500;
        }
    }

    &__wacker {
        width: 200px;
        height: 200px;
        pointer-events: none;

        position: absolute;
        top: 0;
        left: 0;


        z-index: 20;
        // opacity: 0;

        &--clicked {
            opacity: 1;
        }

        &--disabled {
            display: none;
        }

        & img {
            width: 100%;
        }
    }
}

.wacker__icon {
    width: 60px;
}

.mole-square {
    // outline: 1px solid red;

    background-color: #009933;
    position: relative;
    opacity: 1;

    &--showing {
        opacity: 1;
    }

    &__img {
        width: 100%;
        position: absolute;
        bottom: 0;
        pointer-events: none;
    }
}

@keyframes wack {
    0% {
        background-color: $grey
    }
    50% {
        background-color: $red
    }
    100% {
        background-color: $blue
    }
}